@charset "UTF-8";

#delete_yes, #delete_no {
  all: unset;
  background-color: #7d64aa;
  color: white;
  padding: 5px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.chat_delete_btn {
  margin-top: 60px;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.modal_window {
	width:100%;
	height:100%;
}
.chat_delete_content {
  text-align: center;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  bottom: 50%;
  padding: 10px 25px;
  left:50%;
  width:300px;
}
.chat_delete_background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}


