@charset "UTF-8";

/* modify-info.jsp */
/* 프로필 이미지 */
.profile-img {
	border-radius: 100%;
	height: 100%;
	width: 100%;
}
.icon-camera {
	border-radius: 100%;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 0px;
	bottom: 12px;
}
.profile-area {
	position: relative;
	height: 120px;
	width: 120px;
	padding: 0;
}
/* input:file */
.profile-file {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	top: 0;
	left: 0;
}
/* 프로필 이미지, 아이디 요소 정렬 */
.member-info-area {
	margin: 4% 23%;
	position: relative;
}
@media(min-width: 800px) {
	.member-info-id {
		position: absolute;
		width: 72%;
		left: 30%;
		top: 0;
		bottom: 0;
	}
}
/* 프로필 이미지 수정, 삭제 버튼 */
.modify-profile-btn {
	border: 1px solid #9BB460;
	color: #9BB460;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	
	/* .form-control style 가져옴 */
    width: 80px;
    height: 25px;
    padding: 3px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
} 

/* 정렬 */
.modify-label {
	position: relative;
}
.modify-btn {
	border: 1px solid #9BB460;
	color: #9BB460;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	
	/* .form-control style 가져옴 */
	display: block;
    width: 80px;
    height: 25px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    
    /* 오른쪽으로 정렬 */
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 0 5px 0;
}
.modify-btn-submit {
	border: 1px solid #9BB460;
	color: #fff;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	
	/* .form-control style 가져옴 */
	display: none;
    width: 80px;
    height: 25px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #9BB460;
    background-image: none;
    
    /* 오른쪽으로 정렬 */
    position: absolute;
    right: 90px;
    top: 0;
    margin: 0 0 5px 0;
}
.modify-btn-reselect {
	border: 1px solid #9BB460;
	color: #9BB460;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	
	/* .form-control style 가져옴 */
	display: none;
    width: 90px;
    height: 25px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    
    /* 오른쪽으로 정렬 */
    position: absolute;
    right: 180px;
    top: 0;
    margin: 0 0 5px 0;
}
/* 비밀번호 */
.div-pwd {
	width: 100%;
}
.div-pwd-hide {
	border-top: 1px solid #808080;
	height: 20px;
}
.div-pwd-form {
	display: none;
}



/* signIn.jsp 가운데 정렬 */
/* div */
@media (min-width: 550px) {
	.login-form {
		width: 55%;
		margin: 0 23%;
	}
}
@media (min-width: 330px) {
	.login-btn {
		width: 34%;
		margin: 0 34%;
	}
}
@media (min-width: 250px) {
	.change-signUp {
		width: 25%;
		margin: 0 0 0 40%;
	}
}
@media(min-width: 300px) {
	.error-message {
		margin: 30px 0 0 0;
		color: red;		
	}
}
/* input:submit */
#login-btn {
	 background: #9BB460;
     border-radius: 100px;
     border: none;
     color: #ffffff;
     font-weight: 400;
     transition: all 0.4s ease-in-out;
     height: 40px;
}
.error-message ul li {
	list-style: none;
	width: auto;
	text-align: center;
}


/* signUp.jsp 가운데 정렬 */
/* input:text가 들어간 div 요소는 signIn.jsp의 .login-form과 공유 */
.insert-btn-area { 
	margin: 0 0 0 25%;
}
#insert-btn {
	 background: #9BB460;
	 border-radius: 100px;
	 border: none;
	 color: #ffffff;
     font-weight: 400;
     transition: all 0.4s ease-in-out;
     height: 40px;
}
.cancel-btn {
	border: 1px solid #9BB460;
	color: #9BB460;
	border-radius: 100px;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	
	/* .form-control style 가져옴 */
	display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    margin: 10px 0 10px 0;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
}
.login-form small {
	color: red;
}


/* profile-page.jsp */
/* 정렬 */
.member-profile-area {
	margin: 0 20px 20px 300px; 
	position: relative;
}
.profile-form {
	width: 500px;
	margin: 10px 50px 10px 230px;
	padding: 20px 50px;
	border-bottom: 1px solid #808080;	
}
/* 버튼 */
.modify-info-btn {
	border: 1px solid #9BB460;
	color: #9BB460;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	
	/* .form-control style 가져옴 */
	display: block;
    width: 170px;
    height: 25px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
}
/* 재거래 희망률, 응답률 정렬 */
.user-assessment-result {
	position: relative;
}
.answer-info {
	position: absolute;
	left: 200px;
	top: 0;
}

/* cashbook-page.jsp */
/* 상단 닉네임 및 프사 부분 정렬 */
.cashbook-member-info {
	position: relative;
}
.cashbook-profile {
	position: absolute;
	top: 0;
	left: 460px;
	width: 90px;
	height: 90px;
}
/* 중간 날짜부분 정렬 */
.cashbook-icon {
	position: relative;
}
.cashbook-trade-date {
	position: absolute;
	top: 0;
}


/* remove-member.jsp */
.div-remove-hide {
	border-top: 1px solid #808080;
	height: 20px;
	margin: 20px 0;
}
.div-remove {
	display: none;
}
.login-form textarea {
	width: 100%;
	height: 100px;
	display: none;
}



/* find-userinfo.jsp */
.find-userinfo {
	position: relative;
	border-bottom: 1px solid #808080;
	margin: 10px;
}
.phone {
	width: 74%;
}
.sendPhoneCerti {
	border: 1px solid #9BB460;
	color: #9BB460;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	
	/* .form-control style 가져옴 */
	display: block;
    width: 116px;
    height: 25px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    
    /* 오른쪽으로 정렬 */
    position: absolute;
    right: 0px;
    top: 117px;
}
.checkPhoneCerti {
	border: 1px solid #9BB460;
	color: #9BB460;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	
	/* .form-control style 가져옴 */
	display: block;
    width: 116px;
    height: 25px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    
    /* 오른쪽으로 정렬 */
    position: absolute;
    right: 0px;
    top: 162px;
}
.chkMemberInfo {
	border: 1px solid #9BB460;
	color: #fff;
	font-weight: 400;
	transition: all 0.4s ease-in-out;
	
	/* .form-control style 가져옴 */
	display: block;
    width: 116px;
    height: 25px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #9BB460;
    background-image: none;
    
    /* 오른쪽으로 정렬 */
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 0 5px 0;
}
.div-chkMemberInfo {
	position: relative;
	height: 30px;
	margin-bottom: 8px;
	display: none;
}